.countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 50px;
  gap: 40px;
}

@media (width<=768px) {
  .countries {
    align-items: center;
    justify-content: center;
    width: 90%;
  }
  .country-card {
    width: 250px;
  }
}


.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.countries .loader-container {
  width: 100%;
  margin-bottom: 50px;
}